@using MatBlazor;
<MatCard class="demo-mat-card">
    <MatCardContent @onclick="wikiClick">
        <div class="demo-mat-card-content">
            <MatHeadline6 class="demo-mat-card-clean-margin">
                @project.name
            </MatHeadline6>
        </div>

        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            @project.desc
        </MatBody2>
    </MatCardContent>
    <MatCardActions Class="actions">
        
        <RainbowButton Text="Github" Path=@("https://github.com/legendsayantan/"+project.path) />
        <RainbowButton Text="Download" Path=@("https://github.com/legendsayantan/"+project.path+"/releases/") />
    </MatCardActions>
</MatCard>

<style>
    .demo-mat-card {
        margin:25px;
        min-width: fit-content;
        max-width: fit-content;
        max-height: 215px;
        color: #181828;
        animation: fadeIn 10s;
    }

    .demo-mat-card-content {
        display: flex;
        padding: 1rem;
        background-color: #181828;
        border: #3890FC;
        border-width: 2px;
        border-bottom-width: 0px;
        border-style: solid;
    }

    .demo-mat-card-clean-margin {
        color: #3890FC;
        border-top-width: 0px;
        border-bottom-width: 0px;
        transform: translateY(-25);
        font-family:Consolas;
    }

    .actions {
        padding:10px;
        border: #3890FC;
        border-width: 2px;
        border-top-width: 0px;
        background-color: #181828;
        border-style: solid;
        justify-content:center;
        align-items:center;
    }

    .mat-card-action {
        -webkit-text-fill-color: #3890FC;
    }
</style>


@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@code {

    [Parameter]
    public Project project { get; set; }

    public void wikiClick(){
        NavManager.NavigateTo(project.path);
    }
    public async Task gitClick(){
        await jsRuntime.InvokeAsync<object>("open", "https://github.com/legendsayantan"+project.path, "_blank");
    }
}
