@page "/"

<PageTitle>LegendSayantan</PageTitle>
<div style ="margin-top:100px;"/>
<Profile/>

<h3 id="projheader" class="center" style="margin-top:100px;" onclick="document.getElementById('projheader').scrollIntoView({behavior:'smooth'})">Open-Source Projects</h3>

<div class="center" id="projectContainer">
    @foreach (Project proj in @projects ?? Enumerable.Empty<Project>())
    {
        <ProjectCard project=@proj/>
    }
</div>

<h3 id="stats" class="center" style="margin-top:100px;" onclick="document.getElementById('stats').scrollIntoView({behavior:'smooth'})">Statistics</h3>

<div class="center" style="margin-left:0px; margin-right:0px;">
    <img style="margin:25px;" height="150" src="https://github-readme-stats.vercel.app/api?username=legendsayantan&show_icons=true&count_private=true&theme=radical&bg_color=45,0F2CD4,1C72EB&border_color=3890FC&title_color=f5deb3&custom_title=My%20Github%20Stats" />
    <img style="margin:25px;" height="150" src="https://github-readme-stats.vercel.app/api/top-langs/?username=legendsayantan&layout=compact&theme=radical&bg_color=45,0F2CD4,1C72EB&border_color=3890FC&exclude_repo=legendsayantan.github.io&langs_count=6&title_color=f5deb3" />
</div>

<style>
    .center{
        display:flex;
        flex-wrap: wrap;
        padding:25px;
        justify-content:center;
        color: powderblue;
        font-family:'Palatino Linotype';
    }
    @@font-face{
        font-family:Consolas;
        src:url('/fonts/Consolas.woff');
    }
    @@font-face {
        font-family: 'Palatino Linotype';
        src: url('/fonts/Palatino Linotype.woff');
    }
    @@font-face {
        font-family: Pristina;
        src: url('/fonts/Pristina.woff');
    }
</style>
@inject HttpClient Http
@code {
    Project[]? projects;
    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<Project[]>("/data/projects.json");
    }
}

