@page "/"

<PageTitle>LegendSayantan</PageTitle>
<div style ="margin-top:100px;"/>
<section class="fade">
    <Profile/>
</section>

<section>
    <h3 class="center hiddenY" style="margin-top:100px;" onclick="this.scrollIntoView({behavior:'smooth'})">Open-Source Tools</h3>

    <div class="center" id="projectContainer" style="padding:0px">
        @foreach (Project proj in @projects ?? Enumerable.Empty<Project>())
        {
            @if ((proj.name ?? "") != "")
            {
                @if (projects.IndexOf(proj) % 2 == 0)
                {
                    <div class="hidden"><ProjectCard project="proj" /></div>
                }
                else
                {
                    <div class="hidden2"><ProjectCard project="proj" /></div>
                }
            }
        }
    </div>
</section>

<section>
    <h3 class="center hiddenY" style="margin-top:100px;" onclick="this.scrollIntoView({behavior:'smooth'})">About me</h3>
    <ul class="center" style="display:flow-root;font-family:Consolas">
        <li class="hidden">19 M from West Bengal, India 🇮🇳</li>
        <br />
        <li class="hidden">Always interested to learn about new tech and programming languages, Love Object-Oriented Programming 💻 </li>
        <br />
        <li class="hidden">Aspiring Android dev with 2years+ experience and looking to do more unique projects to improve lifestyle 🚀 </li>
        <br />
        <li class="hidden">Learning CyberSecurity, Web Security and Expoitation 🕷 </li>
        <br />
        <li class="hidden">Love to teach and explain educational concepts to others and help out ❤ </li>
        <br />
        <li class="hidden">Like to play unique and action-packed video games 🎮</li>
        <br />
        <li class="hidden">
            People who inspired me are
            <a style="color: powderblue;" href="https://www.youtube.com/channel/UClcE-kVhqyiHCcjYwcpfj9w">LiveOverflow</a>,
            <a style="color: powderblue;" href="https://www.youtube.com/channel/UCYbK_tjZ2OrIZFBvU6CCMiA">Brackeys</a>,
            <a style="color: powderblue;" href="https://www.youtube.com/c/fireship">Fireship</a>,
            <a style="color: powderblue;" href="https://www.youtube.com/channel/UC9-y-6csu5WGm29I7JiwpnA">Computerphile</a>,
            <a style="color: powderblue;" href="https://www.youtube.com/channel/UCuUHDELv0TZM7VeDchmZrFQ">NoMagic</a>, etc.
        </li>
    </ul>
</section>
<section>
    <h3 class="center hiddenY" style="margin-top:100px;" onclick="this.scrollIntoView({behavior:'smooth'})">Statistics</h3>

    <div class="center" style="margin-left:0px; margin-right:0px;">
        <img class="hidden" style="margin:25px;" height="150" src="https://readme-stats-vercel-2rva6u8ai-legendsayantan.vercel.app/api?username=legendsayantan&show_icons=true&count_private=true&theme=radical&bg_color=45,0F2CD4,1C72EB&border_color=3890FC&title_color=f5deb3&custom_title=My%20Github%20Stats" />
        <img class="hidden2" style="margin:25px;" height="150" src="https://readme-stats-vercel-2rva6u8ai-legendsayantan.vercel.app/api/top-langs/?username=legendsayantan&layout=compact&theme=radical&bg_color=45,0F2CD4,1C72EB&border_color=3890FC&exclude_repo=legendsayantan.github.io,legendsayantan.is-a.dev&langs_count=8&title_color=f5deb3" />
    </div>
    
</section>
<style>
    .center{
        display:flex;
        flex-wrap: wrap;
        padding:25px;
        justify-content:center;
        color: powderblue;
        font-family:'Palatino Linotype';
        animation:ease-in 1s;
    }
    @@font-face{
        font-family:Consolas;
        src:url('/fonts/Consolas.woff');
    }
    @@font-face {
        font-family: 'Palatino Linotype';
        src: url('/fonts/Palatino Linotype.woff');
    }
    @@font-face {
        font-family: Pristina;
        src: url('/fonts/Pristina.woff');
    }
    
</style>
@inject HttpClient Http
@inject IJSRuntime js
@code {
    Project[]? projects;
    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<Project[]>("/data/projects.json");
        await js.InvokeVoidAsync("animatePage");
        await js.InvokeVoidAsync("animatePageObserve");
    }

}

