@page "/themepatcher"

<PageTitle>ThemePatcher</PageTitle>
<h1 class="text center">ThemePatcher</h1>
<h6 class="center small" style=" justify-content:center; align-content:center; align-self:center; align-items:center;">Get free themes on Oppo or Realme Android device.</h6>
<div class="text small">
    <h5>Tired of buying overpriced themes in Oppo / Realme / OnePlus device? Use This unlocker to get them for free !</h5>
    <p>
        This script lets you unlock all the paid themes, fonts and wallpapers for free from the Theme store in any Oppo or Realme device.
    </p>
    <p>
        This webpage doesn't have any ads or shady trackers. Consider sharing this tool to everyone who might need it.
    </p>
</div>
<div class="text">
    <h3 class="small">Disclaimer</h3>
    <p dir="auto" class="small">This unlocker <strong>was not tested and might not work</strong> on any device other than Oppo and Realme.</p>
</div>

<div class="text">
    <h3 class="center hiddenY" style=" margin:0px;">Online Unlocker</h3>
    <div class="center" style=" margin:0px; padding:0px; display:block; flex-direction:column">
        <div id="connector">
            <ol class="center" style="flex-direction:column">
                <li class="hidden">Turn on developer options</li>
                <li class="hidden" style="transition-delay:200ms">Enable USB debugging in developer options</li>
                <li class="hidden" style="transition-delay:400ms">Turn on 'Disable Permission Monitoring' in developer options</li>
                <li class="hidden" style="transition-delay:600ms">Connect the device through USB and click on the button below.</li>
            </ol>
            <br />
            <div class="container">
                <a class="btn flex-row" style="margin:0px;" @onclick="@(() => connectDevice())">
                    Connect a device
                </a>
            </div>
        </div>
        <p class="center" id="connectedData" style="padding-bottom:0px"></p>
        <br />
        <div class="center" id="deviceControl" style="display: none; padding-top:0px">
            <p class="center" >6. Now choose any trial from Theme store, then select what you chose.</p>
            <div class="row">
                <div class="container" style="width: min-content">
                    <a class="btn flex-row" style="margin:10px 0px; " @onclick="@(() => executePatch(CodeTheme))">
                        Theme
                    </a>
                </div>
                <div class="container" style="width: min-content">
                    <a class="btn flex-row" style="margin:10px 0px;" @onclick="@(() => executePatch(CodeFont))">
                        Font
                    </a>
                </div>
                <div class="container" style="width: min-content">
                    <a class="btn flex-row" style="margin:10px 0px;" @onclick="@(() => executePatch(CodeWallpaper))">
                        Live wallpaper
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text">
    <h3 class="center hiddenY" style=" margin:0px;">Offline Unlocker</h3>
    <div>
        <h4>Choose your os</h4>
        <input type="button" onclick="document.getElementById('win').scrollIntoView({behavior:'smooth'})" value="Windows" />
        <input type="button" onclick="document.getElementById('lin').scrollIntoView({behavior:'smooth'})" value="Linux" />
        <input type="button" onclick="document.getElementById('mac').scrollIntoView({behavior:'smooth'})" value="Mac" />
    </div>
    <br />
    <h4 id="win">Windows</h4>
    <ol dir="auto">
        <li class="hidden">Tap on the build number <strong>seven times</strong> in your android device to enable developer options.</li>
        <li class="hidden">Go to developer options , then turn on <strong>usb debugging</strong> and also turn on <strong>Disable Permission Monitoring</strong> <em>if it exists</em>.</li>
        <li class="hidden">Connect your phone to the Windows pc using an usb cable.</li>
        <li class="hidden">Download and extract the file <a href="https://github.com/legendsayantan/ThemePatcher/releases/latest">ThemePatcher.zip</a>.</li>
        <li class="hidden">Open Theme Store in the android device, choose whatever paid themes you like and click <strong>Free trial</strong>.</li>
        <li class="hidden">Run the file <strong>ThemePatcher.bat</strong> in the extracted folder.</li>
        <li class="hidden">Trials from Theme store will not expire anymore even after the demo runs out!</li>
    </ol>
    <br />
    <h4 id="lin">Linux</h4>
    <ol dir="auto">
        <li class="hidden">Tap on the build number <strong>seven times</strong> in your android device to enable developer options.</li>
        <li class="hidden">Go to developer options , then turn on <strong>usb debugging</strong> and also turn on <strong>Disable Permission Monitoring</strong> <em>if it exists</em>.</li>
        <li class="hidden">Connect your phone to the Linux computer using an usb cable.</li>
        <li class="hidden">Install adb using <code>sudo apt install adb</code> on the linux computer.</li>
        <li class="hidden">Download the file <a href="https://github.com/legendsayantan/ThemePatcher/releases/latest">ThemePatcher.sh</a>.</li>
        <li class="hidden">Enable execution of the script using <code>chmod +x ThemePatcher.sh</code>.</li>
        <li class="hidden">Open Theme Store in the android device, choose whatever paid themes you like and click <strong>Free trial</strong>.</li>
        <li class="hidden">Run <code>./ThemePatcher.sh</code></li>
        <li class="hidden">Trials from Theme store will not expire anymore even after the demo runs out!</li>
    </ol>
    <br />
    <h4 id="mac">Mac</h4>
    <ol dir="auto">
        <li class="hidden">Tap on the build number <strong>seven times</strong> in your android device to enable developer options.</li>
        <li class="hidden">Go to developer options , then turn on <strong>usb debugging</strong> and also turn on <strong>Disable Permission Monitoring</strong> <em>if it exists</em>.</li>
        <li class="hidden">Connect your phone to the Mac using an usb cable.</li>
        <li class="hidden">Install brew using <code>/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"</code>.</li>
        <li class="hidden">Install adb using <code>brew install android-platform-tools</code></li>
        <li class="hidden">Download the file <a href="https://github.com/legendsayantan/ThemePatcher/releases/latest">ThemePatcher.sh</a>.</li>
        <li class="hidden">Enable execution of the script using <code>chmod +x ThemePatcher.sh</code>.</li>
        <li class="hidden">Open Theme Store in the android device, choose whatever paid themes you like and click <strong>Free trial</strong>.</li>
        <li class="hidden">Run <code>./ThemePatcher.sh</code></li>
        <li class="hidden">Trials from Theme store will not expire anymore even after the demo runs out!</li>
    </ol>
</div>
<div class="text">
    <h3 class="center hiddenY" style=" margin:0px;">Source Code</h3>
    <div class="center" style="display:flex; flex-wrap:wrap; margin:0px;">
        <div class="container">
            <a href="https://github.com/legendsayantan/ThemePatcher" class="btn flex-row">
                Take A Look
            </a>
        </div>
    </div>
</div>

<style>
    code {
        color: white;
        white-space: break-spaces;
        background-color: #133054;
        padding: 3px;
        border-radius: 6px;
    }
    .center {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: center;
        align-content: center;
        color: powderblue;
        font-family: 'Palatino Linotype';
    }

    .heading {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .text {
        color: #55b9f3;
    }

    p {
        color: powderblue;
        justify-content: center;
    }

    a:link {
        color: #55b9f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .btnx:hover {
        color: #55b9f3;
        background-color: #0F2CD4;
    }

    .btnx {
        color: #0F2CD4;
        background-color: #55b9f3;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .container:link {
            color: white;
        }

    .btn {
        font-size: 1.0rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #55b9f3;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .btn:hover {
            box-shadow: 1px 1px 25px 10px #55b9f3;
            text-decoration: none;
            color: powderblue;
        }

        .btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient( 120deg, transparent, #55b9f3, transparent );
            transition: all 650ms;
        }

        .btn:hover:before {
            left: 100%;
        }
    input[type=button]{
        background-color: #0F2CD4;
        color: powderblue;
    }

    input[type=button]:hover{
        background-color: black;
            color: #55b9f3;
    }
</style>
@inject IJSRuntime jsRuntime
@code {
    public string CodeTheme = "" +
    "settings put system persist.sys.oppo.theme_uuid -1\n" +
    "settings put system persist.sys.oplus.theme_uuid -1\n" +
    "settings put system persist.sys.trial.theme 0\n" +
    "settings put secure persist.sys.oppo.theme_uuid -1\n" +
    "settings put secure persist.sys.oplus.theme_uuid -1\n" +
    "settings put secure persist.sys.trial.theme 0\n";
    public string CodeFont = "" +
    "settings put system persist.sys.trial.font 0\n" +
    "settings put secure persist.sys.trial.font 0\n";
    public string CodeWallpaper = "" +
    "settings put system persist.sys.oplus.live_wp_uuid default_live_wp_package_name\n" +
    "settings put system persist.sys.oppo.live_wp_uuid -1\n" +
    "settings put system persist.sys.trial.live_wp 0\n" +
    "settings put secure persist.sys.oplus.live_wp_uuid default_live_wp_package_name\n" +
    "settings put secure persist.sys.oppo.live_wp_uuid -1\n" +
    "settings put secure persist.sys.trial.live_wp 0\n";

    protected async Task copyText(string str)
    {
        await jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", str);
        await jsRuntime.InvokeVoidAsync("alert", "Code copied to clipboard.");
    }
    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("animatePage");
        await jsRuntime.InvokeVoidAsync("animatePageObserve");
    }
    protected async Task connectDevice()
    {
        await jsRuntime.InvokeVoidAsync("connectADB","connector","connectedData","deviceControl");
    }
    protected async Task executePatch(String code){
        await jsRuntime.InvokeVoidAsync("executePatch", "am force-stop com.heytap.themestore; am force-stop com.nearme.themestore; " + code);
    }
}

