@page "/webmimic"

<PageTitle>WebMimic</PageTitle>
<h1 class="text center" style="display:flex; flex-wrap:wrap; align-items:end">
    <img style="height:50px; width:50px; margin-bottom:1px;" src="https://rawcdn.githack.com/legendsayantan/WebMimic/7f790100059935a6cf05def8c54cc56416a9ae8d/extension/WebMimic/images/icon.png" />
    WebMimic
</h1>
<h5 class="center" style="margin-top:0px;">Record and Replay user actions on websites.</h5>
<div class="text">
    <h3 class="hiddenY">What is this?</h3>
    <p>
        This android app / browser extension is a custom browser , integrated with a specific algorithm that can detect and learn what you're doing on a webpage then simulate them whenever needed.
    </p>
</div>
<div class="text">
    <h3 class="hiddenY">But why?</h3>
    <p>
        There are times when we need to check/submit something on a website in a regular basis, and we don't want to hurt our hand everytime to do that. This is a project aimed to replace the repetitiveness of our hands with automation.
    </p>
</div>
<h6 class="center" style=" margin:0px;padding-left:0px;padding-right:0px">This is one of my hobby projects, created as a proof of concept. If you've tried it, give some feedback and I'll improve the project.</h6>
<div class="text">
    <h3 class="center hiddenY" style=" margin:0px;">Installation</h3>
    <div class="center" style="display:flex; flex-wrap:wrap; margin:0px;">

        <div class="container" style="margin-bottom:25px">
            <a href="https://github.com/legendsayantan/WebMimic/releases" class="center btn flex-row">
                Install on
                <img src="https://img.icons8.com/fluency/2x/android-os.png" style=" margin-left:15px; height:25px; width:25px;" />
            </a>
        </div>
        <div class="container">
            <a class="center btn flex-row" href="https://github.com/legendsayantan/WebMimic/releases">
                Extension for
                <img src="	https://www.freepnglogos.com/uploads/google-chrome-png-logo/google-chrome-logo-png-0.png" style=" margin-left:15px; height:25px; width:25px; margin-right:15px;" />
            </a>
        </div>
    </div>
</div>
<div class="text">
    <h3 class="center hiddenY" style=" margin:0px;">Source Code</h3>
    <div class="center" style="display:flex; flex-wrap:wrap; margin:0px;">

        <div class="container">
            <a href="https://github.com/legendsayantan/webmimic" class="btn text flex-row" style="align-items:baseline">
                Available on
                <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle" style=" margin-left:10px; height:25px; width:25px;">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
<style>
    code {
        color: white;
        white-space: break-spaces;
        background-color: #133054;
        padding: 3px;
        border-radius: 6px;
    }

    .center {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: center;
        color: powderblue;
        font-family: 'Palatino Linotype';
    }

    .heading {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .text {
        color: #55b9f3;
    }

    p {
        color: powderblue;
        justify-content: center;
    }

    a:link {
        color: #55b9f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .btnx:hover {
        color: #55b9f3;
        background-color: #0F2CD4;
    }

    .btnx {
        color: #0F2CD4;
        background-color: #55b9f3;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .container:link {
            color: white;
        }

    .btn {
        font-size: 1.0rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #55b9f3;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .btn:hover {
            box-shadow: 1px 1px 25px 10px #55b9f3;
            text-decoration: none;
            color: powderblue;
        }

        .btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient( 120deg, transparent, #55b9f3, transparent );
            transition: all 650ms;
        }

        .btn:hover:before {
            left: 100%;
        }

    input[type=button] {
        background-color: #0F2CD4;
        color: powderblue;
    }

        input[type=button]:hover {
            background-color: black;
            color: #55b9f3;
        }

    #list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
@code {

}
