@page "/webmimic"

<PageTitle>WebMimic</PageTitle>
<h1 class="text center">WebMimic</h1>
<p>this page will be available soon.</p>
<style>
    code {
        color: white;
        white-space: break-spaces;
        background-color: #133054;
        padding: 3px;
        border-radius: 6px;
    }

    .center {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: center;
        align-content: center;
        align-items: baseline;
        color: powderblue;
        font-family: 'Palatino Linotype';
    }

    .heading {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .text {
        color: #55b9f3;
    }

    p {
        color: powderblue;
        justify-content: center;
    }

    a:link {
        color: #55b9f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .btnx:hover {
        color: #55b9f3;
        background-color: #0F2CD4;
    }

    .btnx {
        color: #0F2CD4;
        background-color: #55b9f3;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .container:link {
            color: white;
        }

    .btn {
        font-size: 1.0rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #55b9f3;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .btn:hover {
            box-shadow: 1px 1px 25px 10px #55b9f3;
            text-decoration: none;
            color: powderblue;
        }

        .btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient( 120deg, transparent, #55b9f3, transparent );
            transition: all 650ms;
        }

        .btn:hover:before {
            left: 100%;
        }

    input[type=button] {
        background-color: #0F2CD4;
        color: powderblue;
    }

        input[type=button]:hover {
            background-color: black;
            color: #55b9f3;
        }

    #list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
@code {

}
