@page "/xcryptdemo"
<PageTitle>Quick Text Encryption</PageTitle>
<img src="https://user-images.githubusercontent.com/69689739/190592603-f8215e2f-ab47-4701-aead-8d01a14245b1.png" asp-append-version="true" />
<h6 class="text">Encrypt or Decrypt files on Android or Windows.</h6>
<h1 class="center">Reclaim Your Privacy.</h1>

<h3 class="center" style="margin-bottom:0px;">Quick Text Encryption</h3>
<div style="justify-content: center; display:flex; flex-wrap:wrap;">
    <span class="text" style="justify-content: center; margin-left:5px;"> Max file limit : 512 KB. Text Documents only.</span>
    <span class="text" style="justify-content: center; margin-left:5px;"> The result file can only be decrypted using this webpage.</span>
</div>
<XcryptDemoModule/>
<h5 class="text center" style="margin:0px;">If you need a more private approach with custom encryption keys, cross-compatibility and Support for all files, Consider Installing Xcrypt for your Device.</h5>
<div class="text">
    <h3 class="center" style=" margin:0px;">Installation</h3>
    <div class="center" style="display:flex; flex-wrap:wrap; margin:0px;">
        
        <div class="container">
            <a href="https://github.com/legendsayantan/Xcrypt/releases" class="btn flex-row">
                Install on
                <img src="https://img.icons8.com/fluency/2x/android-os.png" style=" margin-left:15px; height:25px; width:25px;" />
            </a>
        </div>
        <div class="container">
            <a href="https://github.com/legendsayantan/Xcrypt-Windows/releases" class="btn flex-row">
                Install on
                <img src="https://img.icons8.com/color/2x/windows-10.png" style=" margin-left:15px; height:25px; width:25px;" />
            </a>
        </div>
    </div>
</div>
<div class="text">
    <h3 class="center" style=" margin:0px;">Source Code</h3>
    <div class="center" style="display:flex; flex-wrap:wrap; margin:0px;">

        <div class="container">
            <a href="https://github.com/legendsayantan/Xcrypt" class="btn flex-row">
                Source for
                <img src="https://img.icons8.com/fluency/2x/android-os.png" style=" margin-left:15px; height:25px; width:25px;" />
            </a>
        </div>
        <div class="container">
            <a href="https://github.com/legendsayantan/Xcrypt-Windows" class="btn flex-row">
                Source for
                <img src="https://img.icons8.com/color/2x/windows-10.png" style=" margin-left:15px; height:25px; width:25px;" />
            </a>
        </div>
    </div>
</div>
<style>
    .center {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: center;
        color: powderblue;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Palatino Linotype';
    }

    .text {
        color: #55b9f3;
    }

    p {
        color: powderblue;
        justify-content: center;
    }

    a:link {
        color: #55b9f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .btn {
        font-size: 1.0rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #55b9f3;
        position: relative;
        overflow: hidden;
    }

        .btn:hover {
            box-shadow: 1px 1px 25px 10px #55b9f3;
            text-decoration: none;
            color: powderblue;
        }

        .btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient( 120deg, transparent, #55b9f3, transparent );
            transition: all 650ms;
        }

        .btn:hover:before {
            left: 100%;
        }
</style>

@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@code {
    protected void startDemo()
    {
        NavManager.NavigateTo("/xcryptdemo");
    }
}
